In [1]:
import pandas as pd
import numpy as np

# before i uploaded the csv file here in jupyter notebook, i already removed the "not assigned" rows from microsoft excel

In [2]:
df = pd.read_csv(r"C:\Users\Bertud\Desktop\capstonedataassignment.csv")
df.head()

  Postal code      Borough               Neighborhood
0         M2P   North York            York Mills West
1         M2L   North York  York Mills / Silver Hills
2         M4C    East York           Woodbine Heights
3         M1G  Scarborough                     Woburn
4         M2M   North York   Willowdale / Newtonbrook

<font size="20"><b>Replacing  '/' with ',' <b/> <font/>

In [3]:
df['Neighborhood'].replace("/" , ",", regex = True, inplace = True)
df

,Postal code,Borough,Neighborhood
0,M2P,North York,York Mills West
1,M2L,North York,"York Mills , Silver Hills"
2,M4C,East York,Woodbine Heights
3,M1G,Scarborough,Woburn
4,M2M,North York,"Willowdale , Newtonbrook"
...,...,...,...
98,M5M,North York,"Bedford Park , Lawrence Manor East"
99,M2K,North York,Bayview Village
100,M3H,North York,"Bathurst Manor , Wilson Heights , Downsview North"
101,M8W,Etobicoke,"Alderwood , Long Branch"
102,M1S,Scarborough,Agincourt

In [4]:
df.shape

(103, 3)

In [5]:
dflatlong = pd.read_csv(r"C:\Users\Bertud\Desktop\Geospatial_Coordinates.csv")
dflatlong

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

<font size="20"><b>Changing "Postal code" spelling to match for merging<b/> <font/>

In [6]:
df.columns = ['Postal Code', "Borough", 'Neighborhood']
df

,Postal Code,Borough,Neighborhood
0,M2P,North York,York Mills West
1,M2L,North York,"York Mills , Silver Hills"
2,M4C,East York,Woodbine Heights
3,M1G,Scarborough,Woburn
4,M2M,North York,"Willowdale , Newtonbrook"
...,...,...,...
98,M5M,North York,"Bedford Park , Lawrence Manor East"
99,M2K,North York,Bayview Village
100,M3H,North York,"Bathurst Manor , Wilson Heights , Downsview North"
101,M8W,Etobicoke,"Alderwood , Long Branch"
102,M1S,Scarborough,Agincourt

<font size="20"><b>Merging the DataFrames <b/> <font/>

In [7]:
df2 = pd.merge(df , dflatlong, on="Postal Code")

In [8]:
df2

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M2P,North York,York Mills West,43.752758,-79.400049
1,M2L,North York,"York Mills , Silver Hills",43.757490,-79.374714
2,M4C,East York,Woodbine Heights,43.695344,-79.318389
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M2M,North York,"Willowdale , Newtonbrook",43.789053,-79.408493
...,...,...,...,...,...
98,M5M,North York,"Bedford Park , Lawrence Manor East",43.733283,-79.419750
99,M2K,North York,Bayview Village,43.786947,-79.385975
100,M3H,North York,"Bathurst Manor , Wilson Heights , Downsview North",43.754328,-79.442259
101,M8W,Etobicoke,"Alderwood , Long Branch",43.602414,-79.543484
102,M1S,Scarborough,Agincourt,43.794200,-79.262029

In [9]:
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Folium installed
Libraries imported.

In [27]:
import requests # library to handle requests

In [10]:
CLIENT_ID = 'M1MJ5N0BHK5HLTSIQYHFCQ0L0NTVZ3SLPSZP2OVQHUAJPXOG' # your Foursquare ID
CLIENT_SECRET = 'JAWAG1EJORHMWHQP32NMDWPQ04GPECGWOZQCHCWEJX4B3JQN' # your Foursquare Secret
VERSION = '20200604'
LIMIT = 30
print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: M1MJ5N0BHK5HLTSIQYHFCQ0L0NTVZ3SLPSZP2OVQHUAJPXOG
CLIENT_SECRET:JAWAG1EJORHMWHQP32NMDWPQ04GPECGWOZQCHCWEJX4B3JQN

In [19]:
latitude = df2.iloc[0 ,3]
longitude = df2.iloc[0,4]

In [32]:
search_query = 'fast food'
radius = 500
print(search_query + ' .... OK!')

fast food .... OK!

In [33]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=M1MJ5N0BHK5HLTSIQYHFCQ0L0NTVZ3SLPSZP2OVQHUAJPXOG&client_secret=JAWAG1EJORHMWHQP32NMDWPQ04GPECGWOZQCHCWEJX4B3JQN&ll=43.752758299999996,-79.4000493&v=20200604&query=fast food&radius=500&limit=30'

In [34]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5eb444ea6001fe001b929039'},
 'response': {'venues': [{'id': '4bd2111477b29c7455e88d82',
    'name': 'Kitchen Food Fair',
    'location': {'address': '33 The Links Rd.',
     'crossStreet': 'at Tournament Dr.',
     'lat': 43.751297901387304,
     'lng': -79.40139340223642,
     'labeledLatLngs': [{'label': 'display',
       'lat': 43.751297901387304,
       'lng': -79.40139340223642}],
     'distance': 195,
     'postalCode': 'M2P 1T7',
     'cc': 'CA',
     'city': 'Toronto',
     'state': 'ON',
     'country': 'Canada',
     'formattedAddress': ['33 The Links Rd. (at Tournament Dr.)',
      'Toronto ON M2P 1T7',
      'Canada']},
    'categories': [{'id': '4d954b0ea243a5684a65b473',
      'name': 'Convenience Store',
      'pluralName': 'Convenience Stores',
      'shortName': 'Convenience Store',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/conveniencestore_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1588872434',
    'hasPerk': False}]}}

In [35]:
# assign relevant part of JSON to venues
venues = results['response']['venues']

# tranform venues into a dataframe
dataframe3 = json_normalize(venues)
dataframe3.head()

C:\Users\Bertud\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """

,id,name,categories,referralId,hasPerk,location.address,location.crossStreet,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress
0,4bd2111477b29c7455e88d82,Kitchen Food Fair,"[{'id': '4d954b0ea243a5684a65b473', 'name': 'C...",v-1588872434,False,33 The Links Rd.,at Tournament Dr.,43.751298,-79.401393,"[{'label': 'display', 'lat': 43.75129790138730...",195,M2P 1T7,CA,Toronto,ON,Canada,"[33 The Links Rd. (at Tournament Dr.), Toronto..."

In [39]:
# keep only columns that include venue name, and anything that is associated with location
filtered_columns = ['name', 'categories'] + [col for col in dataframe3.columns if col.startswith('location.')] + ['id']
dataframe_filtered = dataframe3.loc[:, filtered_columns]

# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

# clean column names by keeping only last term
dataframe_filtered.columns = [column.split('.')[-1] for column in dataframe_filtered.columns]

dataframe_filtered

,name,categories,address,crossStreet,lat,lng,labeledLatLngs,distance,postalCode,cc,city,state,country,formattedAddress,id
0,Kitchen Food Fair,Convenience Store,33 The Links Rd.,at Tournament Dr.,43.751298,-79.401393,"[{'label': 'display', 'lat': 43.75129790138730...",195,M2P 1T7,CA,Toronto,ON,Canada,"[33 The Links Rd. (at Tournament Dr.), Toronto...",4bd2111477b29c7455e88d82

In [40]:
dataframe_filtered.name

0    Kitchen Food Fair
Name: name, dtype: object

In [42]:
venues_map = folium.Map(location=[latitude, longitude], zoom_start=13) 

# add a red circle marker to represent the where you are
folium.features.CircleMarker(
    [latitude, longitude],
    radius=10,
    color='red',
    popup='from here',
    fill = True,
    fill_color = 'red',
    fill_opacity = 0.6
).add_to(venues_map)

# add the fast food restaurants as blue circle markers
for lat, lng, label in zip(dataframe_filtered.lat, dataframe_filtered.lng, dataframe_filtered.categories):
    folium.features.CircleMarker(
        [lat, lng],
        radius=5,
        color='blue',
        popup=label,
        fill = True,
        fill_color='blue',
        fill_opacity=0.6
    ).add_to(venues_map)

# display map
venues_map