In [44]:
import pandas as pd
import numpy as np

In [111]:
df = pd.read_csv(r"C:\Users\Bertud\Desktop\capstonedataassignment.csv")
df.head()

  Postal code      Borough               Neighborhood
0         M2P   North York            York Mills West
1         M2L   North York  York Mills / Silver Hills
2         M4C    East York           Woodbine Heights
3         M1G  Scarborough                     Woburn
4         M2M   North York   Willowdale / Newtonbrook

<font size="20"><b>Replacing  '/' with ',' <b/> <font/>

In [112]:
df['Neighborhood'].replace("/" , ",", regex = True, inplace = True)
df

,Postal code,Borough,Neighborhood
0,M2P,North York,York Mills West
1,M2L,North York,"York Mills , Silver Hills"
2,M4C,East York,Woodbine Heights
3,M1G,Scarborough,Woburn
4,M2M,North York,"Willowdale , Newtonbrook"
...,...,...,...
98,M5M,North York,"Bedford Park , Lawrence Manor East"
99,M2K,North York,Bayview Village
100,M3H,North York,"Bathurst Manor , Wilson Heights , Downsview North"
101,M8W,Etobicoke,"Alderwood , Long Branch"
102,M1S,Scarborough,Agincourt

In [113]:
df.shape

(103, 3)

In [117]:
dflatlong = pd.read_csv(r"C:\Users\Bertud\Desktop\Geospatial_Coordinates.csv")
dflatlong

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

<font size="20"><b>Changing "Postal code" spelling to match for merging<b/> <font/>

In [116]:
df.columns = ['Postal Code', "Borough", 'Neighborhood']
df

,Postal Code,Borough,Neighborhood
0,M2P,North York,York Mills West
1,M2L,North York,"York Mills , Silver Hills"
2,M4C,East York,Woodbine Heights
3,M1G,Scarborough,Woburn
4,M2M,North York,"Willowdale , Newtonbrook"
...,...,...,...
98,M5M,North York,"Bedford Park , Lawrence Manor East"
99,M2K,North York,Bayview Village
100,M3H,North York,"Bathurst Manor , Wilson Heights , Downsview North"
101,M8W,Etobicoke,"Alderwood , Long Branch"
102,M1S,Scarborough,Agincourt

<font size="20"><b>Merging the DataFrames <b/> <font/>

In [118]:
df2 = pd.merge(df , dflatlong, on="Postal Code")

In [119]:
df2

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M2P,North York,York Mills West,43.752758,-79.400049
1,M2L,North York,"York Mills , Silver Hills",43.757490,-79.374714
2,M4C,East York,Woodbine Heights,43.695344,-79.318389
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M2M,North York,"Willowdale , Newtonbrook",43.789053,-79.408493
...,...,...,...,...,...
98,M5M,North York,"Bedford Park , Lawrence Manor East",43.733283,-79.419750
99,M2K,North York,Bayview Village,43.786947,-79.385975
100,M3H,North York,"Bathurst Manor , Wilson Heights , Downsview North",43.754328,-79.442259
101,M8W,Etobicoke,"Alderwood , Long Branch",43.602414,-79.543484
102,M1S,Scarborough,Agincourt,43.794200,-79.262029