In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv(r"C:\Users\Bertud\Desktop\capstonedataassignment.csv")
df.head()

  Postal code      Borough               Neighborhood
0         M2P   North York            York Mills West
1         M2L   North York  York Mills / Silver Hills
2         M4C    East York           Woodbine Heights
3         M1G  Scarborough                     Woburn
4         M2M   North York   Willowdale / Newtonbrook

<font size="20"><b>Replacing  '/' with ',' <b/> <font/>

In [40]:
df['Neighborhood'].replace("/" , ",", regex = True, inplace = True)
df

,Postal code,Borough,Neighborhood
0,M2P,North York,York Mills West
1,M2L,North York,"York Mills , Silver Hills"
2,M4C,East York,Woodbine Heights
3,M1G,Scarborough,Woburn
4,M2M,North York,"Willowdale , Newtonbrook"
...,...,...,...
98,M5M,North York,"Bedford Park , Lawrence Manor East"
99,M2K,North York,Bayview Village
100,M3H,North York,"Bathurst Manor , Wilson Heights , Downsview North"
101,M8W,Etobicoke,"Alderwood , Long Branch"
102,M1S,Scarborough,Agincourt

In [42]:
df.shape

(103, 3)